body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: grey;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
    margin-top: 30px;
    font-size: 14px;
}